In [1]:
import pandas as pd
import numpy as np
df_avocado=pd.read_csv("avocado.csv")
df_avocado

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [2]:
#checking null
df_avocado.isnull().sum()

Unnamed: 0      0
Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

In [3]:
df_avocado.dtypes

Unnamed: 0        int64
Date             object
AveragePrice    float64
Total Volume    float64
4046            float64
4225            float64
4770            float64
Total Bags      float64
Small Bags      float64
Large Bags      float64
XLarge Bags     float64
type             object
year              int64
region           object
dtype: object

In [ ]:
#drop column index which has no impact on dataset
df_avocado.drop(columns=["Unnamed: 0"])
df_avocado=df_avocado.drop(columns=["Unnamed: 0"])

In [ ]:
#checking number of rows and columns n dataset
df_avocado.shape

In [ ]:
#checking null values using heatmap
import matplotlib.pyplot as plt
import seaborn as sns
sns.heatmap(df_avocado.isnull())

In [ ]:
#finding type of avocado sold yerwise
df_avocado.groupby('year')['type'].value_counts()

In [ ]:
df_avocado.describe()

In [ ]:
sns.barplot(x="year",y="AveragePrice",data=df_avocado)

In [ ]:
#chexking skewness
df_avocado.skew

In [ ]:
skew=('Total Volume','AveragePrice','4046','4225','4770','Total Bags','Small Bags','Large Bags','XLarge Bags')
for col in skew:
    if df_avocado.skew().loc[col]>0.55:
        df_avocado[col]=np.log1p(df_avocado[col])

In [ ]:
#checking corelation matrix
df_avocado.corr()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.pairplot(df_avocado)
plt.show()

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
df_avocado['region']= label_encoder.fit_transform(df_avocado['region']) 
print(df_avocado.head())

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
df_avocado['type']= label_encoder.fit_transform(df_avocado['type']) 
print(df_avocado.head())

In [ ]:
df_avocado.dtypes

In [ ]:
df_avocado=df_avocado.drop(columns=['year'])

In [ ]:
df_avocado=df_avocado.drop(columns=['type'])

In [ ]:
df_avocado=df_avocado.drop(columns=["Date"])

In [ ]:
#df_avocado['year'] = df_avocado['year'].astype(float)
#df_with_region=df_avocado
df_avocado.shape

In [ ]:
#check outliars
#from scipy.stats import zscore
#z_score=np.abs(zscore(df_avocado))
#z_score
#df = pd.DataFrame(np.random.randn(5,8), columns=["Total Volume", "4046","4225","4770","Total Bags","Small Bags","Large Bags","XLarge Bags"])

#from scipy.stats import zscore
#z_score=abs(zscore(df_avocado))
#df_avocado_final= df_avocado.loc[(z_score<3).all(axis=1)]
#print(df_avocado_final.shape)

from scipy.stats import zscore
z_score=abs(zscore(df_avocado))
df_avocado_final= df_avocado.loc[(z_score<3).all(axis=1)]
print(df_avocado_final.shape)

In [ ]:
#saperate input and target variabke
import numpy as np
df_x=df_avocado_final.drop(columns=["AveragePrice"])
y=df_avocado_final["AveragePrice"]
print(df_x.shape)
print(y.shape)

In [ ]:
#calculating r2 score
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,roc_auc_score,roc_curve
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import AdaBoostRegressor,GradientBoostingRegressor
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import cross_val_score,train_test_split,GridSearchCV
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,Y_test=train_test_split(df_x,y,random_state=55,test_size=0.20)
model=[DecisionTreeRegressor(),KNeighborsRegressor(),AdaBoostRegressor(),LinearRegression(),GradientBoostingRegressor()]
from sklearn.decomposition import PCA
max_r_score=0
for r_state in range(42,100):
    x_train,x_test,y_train,Y_test=train_test_split(df_x,y,random_state=r_state,test_size=0.33)
    for i in model:
        i.fit(x_train,y_train)
        pre=i.predict(x_test)
        r2_sc=r2_score(Y_test,pre)
        print("max r2 score corrospond to random state",r_state,"is",r2_sc)
        if r2_sc>max_r_score:
            max_r_score=r2_sc
            final_r_state=r_state
            final_model=i
            print()
            print()
            print()
            print()
            print("max r2 score corrospond to random state",final_r_state,"is",max_r_score,"and model is",final_model)

In [ ]:
#from sklearn.linear_model import LogisticRegression

#lr = LogisticRegression()

#print(lr.get_params().keys())

In [ ]:
from sklearn.model_selection import cross_val_score,train_test_split,GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsRegressor
import joblib
xc_train,xc_test,yc_train,Yc_test=train_test_split(df_x,y,random_state=81,test_size=0.33)
KN=KNeighborsRegressor()
parameters={'n_neighbors': range (1,30)}
gridsearch=GridSearchCV(KN,parameters)
gridsearch.fit(xc_train,yc_train)
gridsearch.best_params_

In [ ]:
KNN=KNeighborsRegressor(n_neighbors=3)
KNN.fit(xc_train,yc_train)
pred=KNN.predict(xc_test)
r2_sc=r2_score(Yc_test,pred)
print("R2 score is",r2_sc)

In [ ]:
# prediction with region
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,roc_auc_score,roc_curve
from sklearn.ensemble import AdaBoostClassifier,GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
x_c=df_avocado_final.drop(columns=['region'])
y_c=df_avocado_final['region']
print(y_c.shape)
print(x_c.shape)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sc.fit_transform(x_c)
x_c=pd.DataFrame(x_c,columns=x_c.columns)

In [ ]:
model=[DecisionTreeClassifier(),KNeighborsClassifier()]
from sklearn.decomposition import PCA
max_acc_score=0
for r_state in range(42,100):
    xc_train,xc_test,yc_train,Yc_test=train_test_split(x_c,y_c,random_state=r_state,test_size=0.33)
    for i_c in model:
        i_c.fit(xc_train,yc_train)
        pre_c=i_c.predict(xc_test)
        ac_score=accuracy_score(Yc_test,pre_c.round())
        print("max accuracy score corrospond to random state",r_state,"is",ac_score)
        if ac_score>max_acc_score:           
            max_acc_score=ac_score
            final_state=r_state
            final_model=i_c
            print()
            print()
            print()
            print()
            print("max accuracy score corrospond to random state",final_state,"is",max_acc_score,"and model is",final_model)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
xc_train,xc_test,yc_train,Yc_test=train_test_split(x_c,y_c,random_state=r_state,test_size=0.33)
KNC=KNeighborsClassifier()
parameters={'n_neighbors': range (1,30)}
gridsearch=GridSearchCV(KNC,parameters)
gridsearch.fit(xc_train,yc_train)
gridsearch.best_params_

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
KNC=KNeighborsClassifier(n_neighbors=1)
KNC.fit(xc_train,yc_train)
pred=KNC.predict(xc_test)
acc_sc=accuracy_score(Yc_test,pred)
print("Accuracy score is",acc_sc)

In [ ]:
import joblib
joblib.dump(final_model,'Avocado.pkl')