In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [2]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

In [ ]:
page.content

In [3]:
soup=BeautifulSoup(page.content,'html.parser')

In [4]:
soup.find('span', class_="circle-branding circle-branding--top").decompose()
soup.find('span', class_="circle-branding circle-branding--bottom").decompose()
#soup.find('th', class_="table-head__cell u-text-right").decompose()

In [5]:
ToptenTeam=[]
Matches=[]
Points=[]
Ratings=[]

In [6]:
teams=soup.find_all('span',class_="u-hide-phablet")
teams

[<span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">South Africa</span>,
 <span class="u-hide-phablet">Pakistan</span>,
 <span class="u-hide-phablet">Bangladesh</span>,
 <span class="u-hide-phablet">Sri Lanka</span>,
 <span class="u-hide-phablet">West Indies</span>,
 <span class="u-hide-phablet">Afghanistan</span>,
 <span class="u-hide-phablet">Ireland</span>,
 <span class="u-hide-phablet">Netherlands</span>,
 <span class="u-hide-phablet">Zimbabwe</span>,
 <span class="u-hide-phablet">Oman</span>,
 <span class="u-hide-phablet">Scotland</span>,
 <span class="u-hide-phablet">Nepal</span>,
 <span class="u-hide-phablet">UAE</span>,
 <span class="u-hide-phablet">Namibia</span>,
 <span class="u-hide-phablet">United States</span>,
 <span class="u-hide-phablet">Papua New Guinea</span>,
 <span class="icn icn-facebook-circle u-hide-phablet"></span>,
 <span class="icn icn-twitter-circle u-hide-phablet"></span>,
 <span class="icn icn-instagram-circle u-hide-phablet"></span>,
 <span class="icn icn-youtube-circle u-hide-phablet"></span>,
 <span class="icn icn-tiktok-circle u-hide-phablet"></span>]

In [7]:
for i in teams:
    ToptenTeam.append(i.get_text().replace("\n",""))
ToptenTeam[0:10]

['England',
 'India',
 'New Zealand',
 'Australia',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [8]:
gdp = soup.find_all("table", attrs={"class": "table"})
print("Number of tables on site: ",len(gdp))

Number of tables on site:  1

In [9]:
table1 = gdp[0]

body = table1.find_all("tr")

head = body[0] 
body_rows = body[1:] 


headings = []
for item in head.find_all("th"):
    item = (item.text).rstrip("\n")
   
    headings.append(item)
print(headings)

['Pos', '\nTeam\nT', '\nMatches\nM', '\nPoints\nP', '\nRating\nR']

In [10]:
all_rows = [] 
for row_num in range(len(body_rows)):
    row = [] 
    for row_item in body_rows[row_num].find_all("td"): 
        aa = re.sub("(\xa0)|(\n)|,","",row_item.text)
       
        row.append(aa)
    
    all_rows.append(row)

In [11]:
df = pd.DataFrame(data=all_rows,columns=headings)
df[0:10]

,Pos,\nTeam\nT,\nMatches\nM,\nPoints\nP,\nRating\nR
0,1,EnglandENG,44,5405,123 ...
1,2,IndiaIND,52,6102,117
2,3,New ZealandNZ,32,3716,116
3,4,AustraliaAUS,39,4344,111
4,5,South AfricaSA,31,3345,108
5,6,PakistanPAK,35,3490,100
6,7,BangladeshBAN,34,2989,88
7,8,Sri LankaSL,39,3297,85
8,9,West IndiesWI,43,3285,76
9,10,AfghanistanAFG,28,1549,55

In [12]:
page1=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")

In [ ]:
page1.content

In [13]:
soup=BeautifulSoup(page1.content,'html.parser')

In [14]:
header_names=soup.find_all('div',class_="rankings-block__banner--name")
header_names[0:3]
header_nat=soup.find_all('div',class_="rankings-block__banner--nationality")
header_nat[0:3]
header_rating=soup.find_all('div',class_="rankings-block__banner--rating")
header_rating[0:3]

[<div class="rankings-block__banner--rating">870</div>,
 <div class="rankings-block__banner--rating">722</div>,
 <div class="rankings-block__banner--rating">373</div>]

In [15]:
gdp1 = soup.find_all("table", attrs={"class": "table"})
print("Number of tables on site: ",len(gdp1))

Number of tables on site:  6

In [16]:
table1 = gdp1[0]

body = table1.find_all("tr")

head = body[0] 
body_rows = body[1:] 


headings_batsmen = []
for item in head.find_all("th"):
    item = (item.text).rstrip("\n")
   
    headings_batsmen.append(item)
print(headings_batsmen)

['Pos', 'Player', 'Team', 'Rating']

In [ ]:
all_rows_batsmen

In [18]:
all_rows_batsmen = []
for row_num in range(len(body_rows)):
    row = [] 
    for row_item in body_rows[row_num].find_all("td"): 
        aa = re.sub("(\xa0)|(\n)|,","",row_item.text)
       
        row.append(aa)
    
    all_rows_batsmen.append(row)

In [19]:
df_batsmen = pd.DataFrame(data=all_rows_batsmen,columns=headings_batsmen)
df_batsmen[0:10]

,Pos,Player,Team,Rating
0,2,Rohit Sharma,IND,842
1,3,Babar Azam,PAK,837
2,4,Ross Taylor,NZ,818
3,5 T...,Aaron Finch,AUS,791
4,6 T...,Francois du Plessis,SA,790
5,7,David Warner,AUS,773
6,8,Kane Williamson,NZ,765
7,9,Quinton de Kock,SA,755
8,10,Jonny Bairstow,ENG,754

In [22]:
table2 = gdp1[1]

body = table2.find_all("tr")

head = body[0] 
body_rows = body[1:] 


headings_bowler = []
for item in head.find_all("th"):
    item = (item.text).rstrip("\n")
   
    headings_bowler.append(item)
print(headings_bowler)

['Pos', 'Player', 'Team', 'Rating']

In [23]:
all_rows_bowler = [] 
for row_num in range(len(body_rows)):
    row = [] 
    for row_item in body_rows[row_num].find_all("td"): 
        aa = re.sub("(\xa0)|(\n)|,","",row_item.text)
       
        row.append(aa)
    
    all_rows_bowler.append(row)

In [24]:
df_bowler = pd.DataFrame(data=all_rows_bowler,columns=headings_bowler)
df_bowler.head()

,Pos,Player,Team,Rating
0,2,Mujeeb Ur Rahman,AFG,701
1,3,Jasprit Bumrah,IND,700
2,4,Chris Woakes,ENG,675
3,5 T...,Kagiso Rabada,SA,665
4,6 T...,Josh Hazlewood,AUS,660